:root {
  --bg-clr: #0f172a;
  --border-clr: #334155;
  --txt-primary-clr-dark: #e2e8f0;
  --txt-secondary-clr-dark: #cbd5e1;
  --label-bg-dark: #334155;
  --ff-barlow: "Barlow", sans-serif;
  --ff-bellfair: "Bellefair", serif;
  --ff-heebo: "Heebo", sans-serif;
  --ff-plus: "Plus Jakarta Sans", sans-serif;
}
li {
  list-style: none;
}
.body {
  background-color: var(--bg-clr);
  margin: 0 4rem 4rem 4rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-s {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8rem;
}
.border {
  border-bottom: 1px solid var(--border-clr);
  margin: 0 0 2rem 0;
  padding: 2rem;
  font-family: var(--ff-barlow);
}

.title,
.content {
  font-weight: 500;
  color: var(--txt-primary-clr-dark);
  font-size: 20px;
}
.content {
  font-size: 17px;
}
.education span,
.content span {
  color: var(--txt-primary-clr-dark);
  font-weight: 200;
  text-align: end;
}
.education .content {
  text-align: center;
}

.border {
  align-items: flex-start;
}
.lang {
  gap: 1rem;
  justify-content: flex-start;
  margin: 1rem 0;
}
.label {
  background-color: var(--label-bg-dark);
  border-radius: 8px;
  padding: 0.5rem;
  width: fit-content;
}
.work li {
  position: relative;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.work li span {
  color: #0fbbff;
  font-weight: 500;
}
.work li::after {
  font: var(--fa-font-solid);
  content: "\f135";
  position: absolute;
  left: -2rem;
  top: 0;
  color: var(--txt-secondary-clr-dark);
}
.stuff {
  margin-bottom: 2rem;
}
.body a,
footer span,
footer a {
  text-decoration: none;
  color: var(--txt-secondary-clr-dark);
  font-weight: 100;
  transition: all 0.5s linear;
  position: relative;
  z-index: 1;
  width: fit-content;
}
.body a::after,
footer span::after {
  content: "";
  height: 20%;
  width: 100%;
  position: absolute;
  background-color: #7733ff;
  left: 0rem;
  bottom: -0.3rem;
  transition: 0.2s linear height;
  z-index: -1;
}
.body a:hover::after,
footer span:hover::after {
  height: 130%;
}
footer {
  font-family: var(--ff-barlow);
  padding: 0 4rem;
  font-size: 20px;
}
footer a {
  font-weight: 700;
}

.work img {
  margin: 0 1rem;
  height: 20px;
  aspect-ratio: 1/1;
}
.projects .stuff {
  position: relative;
  border: 1px solid var(--border-clr);
  padding: 1rem;
  border-radius: 20px;
}
.projects .stuff::before {
  font: var(--fa-font-solid);
  content: "\f135";
  position: absolute;
  left: -0.2rem;
  top: -0.2rem;
  color: var(--txt-secondary-clr-dark);
}
.grid {
  gap: 0.5rem;
  grid-template-columns: repeat(4, auto);
}
.skill .title {
  margin-bottom: 1rem;
}
.skill {
  margin-bottom: 2rem;
}

footer i {
  color: #7733ff;
  padding: 0 0.5rem;
}
