@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&family=Heebo:wght@100;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #0f172a;
  --border-clr: #334155;
  --txt-primary-clr-dark: #e2e8f0;
  --txt-secondary-clr-dark: #cbd5e1;
  --label-bg-dark: #334155;
  --ff-barlow: "Barlow", sans-serif;
  --ff-bellfair: "Bellefair", serif;
  --ff-heebo: "Heebo", sans-serif;
  --ff-plus: "Plus Jakarta Sans", sans-serif;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App {
  margin: 2rem auto;
  max-width: 955px;
  /* border: 1px solid var(--border-clr); */
}
body {
  background-color: var(--bg-clr);
}
header {
  background: var(--bg-clr);
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 5;
  border-bottom: 1px solid var(--border-clr);
}
/* header::after,
header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: -1;
} */
/* header::after {
  top: 0;
  left: 0;
  background: linear-gradient(#fe79b9, #ad00ff, var(--bg-clr));
}
header::before {
  top: 0;
  left: 50%;
  background: linear-gradient(#2489ff, var(--bg-clr));
} */

.logo {
  width: 4rem;
  height: fit-content;
  aspect-ratio: 1/1;
}
input {
  display: none;
}
label::after {
  font: var(--fa-font-solid);
  content: "\f6c4";
  cursor: pointer;
  color: var(--txt-primary-clr-dark);
  font-size: 2rem;
  transition: all ease 0.2s;
}
label:hover::after {
  color: #0fbbff;
}
input:checked ~ label::after {
  content: "\f6c3";
}
#border-circle {
  stroke: #479eef;
}
#circle-fill {
  fill: #479eef;
}

.title h1 {
  color: var(--txt-primary-clr-dark);
  font: 50px var(--ff-heebo);
  font-weight: 700;
}
.title h3 {
  color: var(--txt-secondary-clr-dark);
  font-weight: 300;
  font-family: var(--ff-barlow);
}
.title h3 .dot {
  width: 10px;
  height: 10px;
  background-color: var(--txt-primary-clr-dark);
  border-radius: 50%;
}
.address {
  color: var(--txt-secondary-clr-dark);
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0 1rem 0;
  font-size: 18px;
}
.address span i {
  padding-right: 0.2rem;
}
.socials {
  justify-content: center;
  gap: 1rem;
}

.socials span {
  border: 2px solid;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
}
.socials span > a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.socials span:hover {
  opacity: 0.8;
}
.socials > :nth-child(1) {
  border-color: #7c3aed;
  color: #7c3aed;
  background-color: #f6f3ff;
}
.socials > :nth-child(2) {
  border-color: #0a66c2;
  color: #0a66c2;
  background-color: #f1f8ff;
}
.socials > :nth-child(3) {
  border-color: #f24e1e;
  color: #f24e1e;
  background-color: #fff4f1;
}
.socials > :nth-child(4) {
  border-color: #222222;
  color: #222222;
  background-color: #f2f2f2;
}
